.name {
    position: absolute;
    left: 600px;
    top: 600px;
    right: 20px;
}
.footerlog{
    clear:both;
    margin: auto;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    background-color: rgba(209, 234, 252, 0.81);
    color: black;
    position: relative;
    top:600px;
    
}
