.fancy{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    width: 100%;
    
}
.fancy 
{
    font-size: 1em;
    border: 1px solid #381efa;
    padding: 3px 7px 2px 7px;
    width: 100%;    
}
.fancytd
{
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
    padding-top: 5px;
    background-color: #ffffff;
    color: #A7c942;
}
.fancy 
{
    color: chartreuse;
    background-color: cadetblue;
}
.bigtd 
{
    font-size: 5em;
    color: #83d82e;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    text-align: center;
    border-collapse:collapse;
    width: 100%;
    float:right;
    position:relative;
}
.home
{
   text-align: right;
   font-size: 1em;
   font-weight:800;
   background-color: #ffffff;
   width: 100%;
}
.none1 a:link
{
    text-decoration: none;
    color:#0b9efa;
}
.none1 a:visited
{
    text-decoration: none;
    color: #14f0a6;
}
.none1 a:hover
{
    text-decoration: none;
    color: darksalmon;
}

.none1
{
    list-style-type: none;
    font-size: 3em;
    font-weight: 500;
    border: none;
    list-style-position:inside;
    padding: 1px 7px 2px 25px;
    float: left;
   text-align: left;
}
.none2
{
    list-style-type: none;
    font-size: 3em;
    font-weight: 400;
    border: none;
    list-style-position: inside;
    padding: 2px 200px 2px 1px;
    float:none;
}
.none3
{
    list-style-type: none;
    font-size: 1.5em;
    font-weight: 400;
    border: none;
    list-style-position: inside;
    padding: 2px 200px 2px 1px;
    float:none;
}
.none4
{
    list-style-type: none;
    font-size: 1em;
    font-weight: 400;
    border: none;
    list-style-position: inside;
    padding: 2px 200px 2px 1px;
    float:none;
}
.noneTh
{
    list-style-type: none;
    font-family: sans-serif;
    font-size: 3em;
    font-weight: 500;
    border: none;
    list-style-position:inside;
    padding: 1px 7px 2px 25px;
    float: left;
}
.noneP
{
    list-style-type: none;
    font-family: monospace;
    font-size: 2em;
    font-weight: 400;
    border: none;
    list-style-position: inside;
    padding: 2px 20px 2px 1px;
    float:none;
}
img
{
opacity:0.6;
filter:alpha(opacity=60); /* 针对 IE8 以及更早的版本 */
}
img:hover
{
opacity:1.0;
filter:alpha(opacity=100); /* 针对 IE8 以及更早的版本 */
}
/*.textOverplay{
    width:390px;
    height: 206px;
    opacity: 0.9;
    font-size: 20px;
    text-align: justify;
    border: 5px solid #FFA500;
    padding: 5px;
    background: url(/create/git workspace/SYJhappy.github.io/week9/ex1.png);
}
.theText{
    opacity: 0;
}
.txtOverlay:hover .theText{
    opacity: 0.9;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700；
}*/
/*picture in the main page*/
.imgOverlay1
{
    width: 400px;
    height: 200px;
    background: url('/create/git workspace/SYJhappy.github.io/week9/ex1.png') no-repeat;
}
.imgOverlay1:hover
{
    width: 400px;
    height: 200px;
    background: url('/create/git workspace/SYJhappy.github.io/week10/ex2.png') no-repeat;
}
.imgOverlay2
{
    width: 400px;
    height: 200px;
    background: url('/create/git workspace/SYJhappy.github.io/week10/ex3.png') no-repeat;
}
.imgOverlay2:hover
{
    width: 400px;
    height: 200px;
    background: url('/create/git workspace/SYJhappy.github.io/week10/ex4.png') no-repeat;
}
.imgOverlay3
{
    width: 400px;
    height: 200px;
    background: url('/create/git workspace/SYJhappy.github.io/week10/ex6.png') no-repeat;
}
.imgOverlay3:hover
{
    width: 400px;
    height: 200px;
    background: url('/create/git workspace/SYJhappy.github.io/week10/ex5.png') no-repeat;
}
/*图片库*/
.imglay1
  {
  margin:3px;
  border:1px solid #bebebe;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }
.imglay1 img
  {
  display:inline;
  margin:3px;
  border:1px solid #bebebe;
  }
.imglay1 a:hover img
  {
  border:0px solid #333333;
  }
.desc1
  {
  text-align:center;
  font-weight:normal;
  width:150px;
  font-size:20px;
  margin:10px 5px 10px 5px;
  }

/* footer */
.footer
{
    clear:left;
    margin: auto;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    background-color: rgba(209, 234, 252, 0.81);
    color: black;
}
/* Header */
#header ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
#header li
{
float:left;
overflow:hidden;
}
#header a:link,a:visited
{
display:block;
width:200px;
font-weight:bold;
color:#FFFFFF;
background-color:#bebebe;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
#header a:hover,a:active
{
background-color:#24d4fd;
}
