.fancy{
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    width: 100%;
    
}
.fancy 
{
    font-size: 1em;
    border: 1px solid #381efa;
    padding: 3px 7px 2px 7px;
    width: 100%;    
}
.fancytd
{
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
    padding-top: 5px;
    background-color: #ffffff;
    color: #A7c942;
}
.fancy 
{
    color: chartreuse;
    background-color: cadetblue;
}
.bigtd 
{
    font-size: 5em;
    color: #83d82e;
    background-color: #ffffff;
    border: 3px solid #11a9fa;
    text-align: center;
 
    border-collapse:collapse;
    width: 100%;
}
.home
{
   text-align: right;
   font-size: 1em;
   font-weight:800;
   background-color: #ffffff;
   width: 100%;
}
a {
    text-decoration: none;
    color:#0b9efa;
}
a:hover
{
    color: darksalmon;
}
.none1
{
    list-style-type: none;
    font-size: 3em;
    font-weight: 500;
    border: none;
    list-style-position:inside;
    padding: 1px 7px 2px 25px;
    float: left;
}
.none2
{
    list-style-type: none;
    font-size: 3em;
    font-weight: 400;
    border: none;
    list-style-position: inside;
    padding: 2px 200px 2px 1px;
    float:none;
}
.noneTh
{
    list-style-type: none;
    font-family: sans-serif;
    font-size: 3em;
    font-weight: 500;
    border: none;
    list-style-position:inside;
    padding: 1px 7px 2px 25px;
    float: left;
}
.noneP
{
    list-style-type: none;
    font-family: monospace;
    font-size: 2em;
    font-weight: 400;
    border: none;
    list-style-position: inside;
    padding: 2px 20px 2px 1px;
    float:none;
}